@media only screen and (min-width:400px) and (max-width:700px){

}

.body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.imglogo{
    margin-left: 30vw;
    margin-top: 3vh;
}

.form{
    width: 100vw;
    height: 80vh;
    background-color: rgb(187, 188, 244);
    margin-left: -2vw;
    position: absolute;
}

.formfilho{
    width: 85vw;
    height: 65vh;
    background-color: white;
    border-radius: 3px;
    margin-left: 7vw;
    margin-top: 5vh;
    position: absolute;
}

.h1form{
    
    text-align: center;
}

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    
}

.p1{
    color: #474747;
}

.a1{
    color: #474747;
}

.input1{
    margin-left: 10vw;
    position: absolute;
    height: 5vh;
    width: 50vw;
    margin-top: 2vh;

}

label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}

.input1filho{
    width: 65vw;
    height: 5vh;
    border: none;
    background-color: #f8f8f8;
    outline: none;
}

.input2{
    margin-left: 10vw;
    position: absolute;
    height: 5vh;
    width: 50vw;
    margin-top:11vh;
}

.input2filho{
    width: 65vw;
    height: 5vh;
    border: none;
    background-color: #f8f8f8;
    outline: none;
}

.asenha{
    margin-top: 23vh;
    margin-left: 10vw;
}

button{
    background-color: rgb(201, 32, 113);
    color: white;
    height: 5vh;
    width: 65vw;
    border-radius: 8px;
    margin-left: 10vw;
    margin-top: 3vh;    
}

.apps{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

